#photo_part{
    margin: 15px 0;
}
.photo_cont{
    position: relative;
}

.single_photo_conmp{
    padding: 20px;
    background: #fff;
    position: absolute;
    left: 30px;
    top: 30px;
}

.single_photo_conmp h3{
    color: #222;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.single_photo_conmp p{
    color: #353535;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
}

.single_photo_conmp ul li{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.single_photo_conmp a{
    padding: 10px 15px;
    background: #222;
    color: #fff;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}

